{% import 'partials/components/icon.html' as icon_macro %}
{% macro service_card(icon_name, title, description, subtitle, items, note, cta_text, cta_href='https://wa.me/5491156297160?text=Hola+DataMaq%2C+necesito+asistencia+t%C3%A9cnica') %}
<article data-v-236fef00="" class="c-home-service-card">
    <div data-v-236fef00="" class="c-home-service-card__summary">
        <span data-v-236fef00="" class="c-home-service-card__icon" aria-hidden="true">{{ icon_macro.bootstrap_icon(icon_name) }}</span>
        <span data-v-236fef00="" class="c-home-service-card__summary-copy">
            <h3 data-v-236fef00="" class="c-home-service-card__title">{{ title }}</h3>
            <span data-v-236fef00="" class="c-home-service-card__description">{{ description }}</span>
        </span>
    </div>
    <div data-v-236fef00="" class="c-home-service-card__content">
        <p data-v-236fef00="" class="c-home-service-card__subtitle">{{ subtitle }}</p>
        <ul data-v-236fef00="" class="c-home-service-card__list">
            {% for item in items %}
            <li data-v-236fef00="">
                <span data-v-236fef00="" class="c-home-service-card__bullet" aria-hidden="true">{{ icon_macro.bootstrap_icon('check2-circle') }}</span>
                <span data-v-236fef00="">{{ item }}</span>
            </li>
            {% endfor %}
        </ul>
        <p data-v-236fef00="" class="c-home-service-card__note">{{ note }}</p>
        {% if title == "Capacitaciones aplicadas" %}
        <a data-v-236fef00="" class="tw:btn-outline c-home-service-card__cta" href="/cursos">Ir a cursos</a>
        {% else %}
        <a data-v-236fef00="" class="tw:btn-outline c-home-service-card__cta" href="{{ cta_href }}" target="_blank" rel="noopener noreferrer">{{ cta_text }}</a>
        {% endif %}
    </div>
</article>
{% endmacro %}
