CHATWOOT_WEBSITE_TOKEN=tu_token_aqui
GOOGLE_ANALYTICS_ID=tu_id_ga
CLARITY_ID=tu_id_clarity
DEBUG=False
CHATWOOT_BASE_URL=https://app.chatwoot.com
CHATWOOT_ACCOUNT_ID=tu_account_id_aqui
CHATWOOT_API_TOKEN=tu_api_token_aqui