<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ seo.siteName }} - {{ content.hero.title }}</title>
    <meta name="description" content="{{ seo.siteDescription }}">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap" rel="stylesheet">
    
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "name": "{{ brand.brandName }}",
      "description": "{{ seo.siteDescription }}",
      "email": "{{ brand.contactEmail }}",
      "url": "{{ seo.siteUrl }}"
    }
    </script>
</head>
<div id="app" data-v-app="">
    <div data-v="" id="top" class="app-shell app-shell--home tw:min-h-screen app-shell--variant-direct"></div>
        {% include 'partials/header.html' %}
        <main>
            {% include 'partials/hero.html' %}
            {% include 'partials/servicios.html' %}
            {% include 'partials/faq.html' %}
        {% include 'partials/profile.html' %}
        </main>
        {% include 'partials/footer.html' %}

        <script src="/static/js/app.js?v={{ static_version() }}"></script>
        {% if config.GOOGLE_ANALYTICS_ID or config.CLARITY_ID %}
            {% include "partials/cookie-banner.html" %}
        {% endif %}
    </div>
    <script defer="" src="https://static.cloudflareinsights.com/beacon.min.js/v833ccba57c9e4d2798f2e76cebdd09a11778172276447" integrity="sha512-57MDmcccJXYtNnH+ZiBwzC4jb2rvgVCEokYN+L/nLlmO8rfYT/gIpW2A569iJ/3b+0UEasghjuZH/ma3wIs/EQ==" data-cf-beacon="{&quot;version&quot;:&quot;2024.11.0&quot;,&quot;token&quot;:&quot;ab850807b64648da83ecb0cd0263d779&quot;,&quot;r&quot;:1,&quot;server_timing&quot;:{&quot;name&quot;:{&quot;cfCacheStatus&quot;:true,&quot;cfEdge&quot;:true,&quot;cfExtPri&quot;:true,&quot;cfL4&quot;:true,&quot;cfOrigin&quot;:true,&quot;cfSpeedBrain&quot;:true},&quot;location_startswith&quot;:null}}" crossorigin="anonymous"></script>
</div>
</body>
</html>
